//tamaños breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 320px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
//colores
$white: white;
$black: black;
$colorh1: #403d40;
$colorLight: #aeadae;
$colorspan: #79e5e9; 
$backgroundColor: #f2fbfb;
//fuentes


//tamaños
$center: 0 auto;
