*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}
.wrapper{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.container{
    width: 96%;
    padding-left: 2%; 
    padding-right: 2%;
}