.footer{
    margin-top: 70%;
    background-color: $backgroundColor;
    text-align: center;
    .phone{
        padding-top: 15%;
        padding-bottom: 5%;
        margin: 0 auto;
    }
    .number{
        font-weight: 900;
        font-size: 3rem;
        padding-bottom: 5%;
    }
    .light{
        font-size: 0.8rem;
        color: $colorLight;
        span{
            color: $colorspan;
        }
    }
    ul{
        padding: 5% 0 8% 0;
        li{
            text-transform: uppercase;
            display: inline-block;
            font-weight: 100;
        }
        li + li{
            padding-left: 4.5%;
            border-left: 1px solid black; 
        }
    }
    .right{
        padding-right: 4.5%;
    }
    .line{
        margin: 0 auto;
        width: 1px;
        height: 85px;
        background-color: $black
    }
}