.section2{
    h1 {
        padding-top: 10%;
        font-weight: bold;
        color: $colorh1;
        font-size: 5.5rem;
        padding-left: 0;
    }
    p{
        color: $colorLight;
        font-size: 0.8rem;
        padding-top: 5%;
        padding-bottom: 10%;
    }
}